.sidebar {
    flex: 1;
    height: calc(100vh-5px);
    background-color: #f2f2f5;
    position: static;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 20px;

}

.sidebarTitle {
    font-size: 20px;
    color: rgb(186, 183, 183);
}

.sidebarList {
    list-style: none;
    padding: 10px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color: rgb(227, 227, 251);

}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

